<%= form_for(@alumni) do |f| %>
  <% if @alumni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
      <% @alumni.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= fields_for :user, @alumni.user do |u| %>
    <div class="field">
      <%= u.label :first_name %><br>
      <%= u.text_field :first_name, value: @alumni.user.first_name %>
    </div>
    <div class="field">
      <%= u.label :last_name %><br>
      <%= u.text_field :last_name, value: @alumni.user.last_name %>
    </div>
  <% end %>
  <%= f.select(:location_id) do %>
    <% Location.all.each do |c| %>
      <%= content_tag(:option, c.city, value: c.id) %>
    <% end %>
  <% end %>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :q1, value: "What are your greatest strengths?" %><br>
    <%= f.text_area :q1 %>
  </div>
  <div class="field">
    <%= f.label :q2, value: "Have you read any good books lately?" %><br>
    <%= f.text_area :q2 %>
  </div>
  <div class="field">
    <%= f.label :q3, value: "Can you do a headstand?" %><br>
    <%= f.text_area :q3 %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>

  <%= fields_for :endorsements, @alumni.endorsements do |e| %>
    <div class="field">
      <% Skill.all.each do |s| %>
        <%= check_box_tag s.name, @alumni.endorsements.any?{|e| e.skill == s } %>
        <%= label_tag s.name %>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fun_fact %><br>
    <%= f.text_area :fun_fact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.submit "Update", class: 'btn btn-success' %>
  </div>
<% end %>
