<%= form_for(@alumni) do |f| %>
  <% if @alumni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
      <% @alumni.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.text_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
  <div class="field">
    <%= f.label :q1 %><br>
    <%= f.text_area :q1 %>
  </div>
  <div class="field">
    <%= f.label :q2 %><br>
    <%= f.text_area :q2 %>
  </div>
  <div class="field">
    <%= f.label :q3 %><br>
    <%= f.text_area :q3 %>
  </div>
  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :view %><br>
    <%= f.number_field :view %>
  </div>
  <div class="field">
    <%= f.label :fun_fact %><br>
    <%= f.text_area :fun_fact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
