<%= form_for @alumni do |f| %>
  <% if @alumni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
      <% @alumni.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :user, @alumni.user do |u| %>
  <div class="form-inline">
    <div class="field form-group">
      <%= u.label :first_name %><br>
      <%= u.text_field :first_name, class: 'form-control', value: @alumni.user.first_name %>
    </div>
    <div class="field form-group">
      <%= u.label :last_name %><br>
      <%= u.text_field :last_name, class: 'form-control', value: @alumni.user.last_name %>
    </div>
  </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :location_id %><br>
    <%= f.select :location_id, class: 'dropdown' do %>
      <% Location.all.each do |c| %>
        <%= content_tag(:option, "#{c.city}, #{c.state}", value: c.id) %>
      <% end %>
    <% end %>
  </div>
  <div class="field form-group">
    <%= f.label :about %><br>
    <%= f.text_area :about, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :q1, value: "What are your greatest strengths?" %><br>
    <%= f.text_area :q1, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :q2, value: "Have you read any good books lately?" %><br>
    <%= f.text_area :q2, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :q3, value: "Can you do a headstand?" %><br>
    <%= f.text_area :q3, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, class: 'form-control' %>
  </div>

  <%= f.fields_for :endorsement do |s| %>
    <div class="field form-group">
      <%= s.label :skill, "Skills" %><br/>
      <select class="chosen-select" id="skill" multiple>
        <%= options_from_collection_for_select(Skill.all, :id, :name, @alumni.endorsements.map {|e| e.skill_id }) %>
      </select>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :fun_fact %><br>
    <%= f.text_area :fun_fact, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: 'btn' %>
  </div>

  <div class="field">
    <%= f.label :"Upload Resume as PDF" %>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit "save", class: "btn btn-success" %>
  </div>


  <%= react_component "NewProject", user:current_user %>




<% end %>
