<%= form_for @alumni do |f| %>
  <% if @alumni.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alumni.errors.count, "error") %> prohibited this alumni from being saved:</h2>

      <ul>
      <% @alumni.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field form-group">
    <%= f.label :location_id %><br>
    <%= f.select :location_id do %>
      <%= options_from_collection_for_select Location.all, :id, :city, @alumni.location_id %>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :about %><br>
    <%= f.text_area :about, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :q1, value: "What are your greatest strengths?" %><br>
    <%= f.text_area :q1, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :q2, value: "Have you read any good books lately?" %><br>
    <%= f.text_area :q2, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :q3, value: "Can you do a headstand?" %><br>
    <%= f.text_area :q3, class: 'form-control' %>
  </div>
  <div class="field form-group">
    <%= f.label :position %><br>
    <%= f.text_field :position, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :skill_ids, "Skills" %><br/>
    <%= f.select :skill_ids, options_from_collection_for_select(Skill.all, :id, :name, @alumni.skills.map {|s| s.id }), {}, {multiple: true, class: "chosen-select"} %>
  </div>

  <div class="field form-group">
    <%= f.label :fun_fact %><br>
    <%= f.text_area :fun_fact, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field form-group">
    <%= f.label :resume, "Upload Resume as PDF" %>
    <%= f.file_field :resume %>
  </div>

  <div class="actions form-group">
    <%= f.submit "save", class: "btn btn-success" %>
  </div>

  <!-- make the form for the project like the location -->
  <!-- this is the project form -->


<div class="container">
  <div class="panel-group" id="accordion">
    <%= f.fields_for :projects do |u|%>
      <%= u.check_box :_destroy %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Project 1</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
                <div>
                  <%= u.hidden_field :alumni_id, value: @alumni.id %>
                </div>

                <div>
                  <%= u.label :name %><br>
                  <%= u.text_field :name %>
                </div>

                <div>
                  <%= u.label :url %><br>
                  <%= u.text_field :url %>
                </div><br>

                <div>
                  <%=link_to 'Create Project Thumbnail', projects_path(@show, :format => :pdf) %>
                </div><br>

                <div>
                  <%= u.label :description %><br>
                  <%= u.text_field :description %>
                </div>

                <div class="actions">
                  <%= u.submit %>
                </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>

<% end %>