 <!-- make the form for the project like the location -->
 <!-- this is the project form -->

<div class="container">
  
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Project 1</a>
        </h4>
      </div>

      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">
          <%= form_for @project do |u|%>
            
            <div>
              <%= u.hidden_field :alumni_id, value: @alumni.id %>
            </div>

            <div>
              <%= u.label :name %><br>
              <%= u.text_field :name %>
            </div>

            <div>
              <%= u.label :url %><br>
              <%= u.text_field :url %>
            </div>

            <div>
              <%= u.label :description %><br>
              <%= u.text_field :description %>
            </div>

            <div class="actions">
            <%= u.submit %>
            </div>

          <% end %>
        </div>
      </div>

    </div>

    <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Project 2</a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body"><%= form_for @project do |u|%>
                    <div>
                      <%= u.hidden_field :alumni_id, value: @alumni.id %>
                    </div>

                    <div>
                      <%= u.label :name %><br>
                      <%= u.text_field :name %>
                    </div>

                    <div>
                      <%= u.label :url %><br>
                      <%= u.text_field :url %>
                    </div>

                    <div>
                      <%= u.label :description %><br>
                      <%= u.text_field :description %>
                    </div>

                    <div class="actions">
                    <%= u.submit %>
                    </div>
                  <% end %></div>
          </div>
    </div>

    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Project 3</a>
        </h4>
      </div>
      
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body"><%= form_for @project do |u|%>
            <div>
              <%= u.hidden_field :alumni_id, value: @alumni.id %>
            </div>

            <div>
              <%= u.label :name %><br>
              <%= u.text_field :name %>
            </div>

            <div>
              <%= u.label :url %><br>
              <%= u.text_field :url %>
            </div>

            <div>
              <%= u.label :description %><br>
              <%= u.text_field :description %>
            </div>

            <div class="actions">
              <%= u.submit %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>