<p id="notice"><%= notice %></p>

<h1>Listing Alumnis</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>About</th>
      <th>Q1</th>
      <th>Q2</th>
      <th>Q3</th>
      <th>Position</th>
      <th>View</th>
      <th>Fun fact</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnis.each do |alumni| %>
      <tr>
        <td><%= alumni.user %></td>
        <td><%= alumni.location %></td>
        <td><%= alumni.about %></td>
        <td><%= alumni.q1 %></td>
        <td><%= alumni.q2 %></td>
        <td><%= alumni.q3 %></td>
        <td><%= alumni.position %></td>
        <td><%= alumni.view %></td>
        <td><%= alumni.fun_fact %></td>
        <td><%= link_to 'Show', alumni %></td>
        <td><%= link_to 'Edit', edit_alumni_path(alumni) %></td>
        <td><%= link_to 'Destroy', alumni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumni', new_alumni_path %>
