<div class="container">

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-7">
    <div class="title-box clearfix">
      <% if @alumni.avatar.url %>
        <img src="<%= @alumni.avatar.url %>" class="avatar" />
      <% else %>
        <img src="/default-avatar/colors.jpg" class="avatar" />
      <% end %>

      <div class="col-info">
        <h1 class="title"><%= @alumni.user.first_name %> <%= @alumni.user.last_name %></h1>
        <h3><%= @alumni.position %></h3>
        <h4><%= "#{@alumni.location.city}, #{@alumni.location.state}" %></h4>

        <p><%= mail_to @alumni.user.email %></p>

        <% if current_user%>
          <% if current_user.id == @alumni.user_id %>
            <%= link_to 'Edit', edit_alumni_path(@alumni), class: 'btn btn-default btn-sm' %>
          <% end %>
        <% end %>

      </div>
    </div>
    <% if @alumni.skills %>
    <div class='clearfix'>
      <h4>Skills</h4>
      <% skills = @alumni.skills.map { |skill| skill.id } %>
      <% skills = skills.uniq %>
      <% skills.each do |s| %>
      <% endorsements_count = Endorsement.select { |e| e.skill_id == s && e.alumni_id == @alumni.id }.count %>
          <button class="btn btn-primary btn-xs skill" name="endorsement" type="button" data-user="<%= current_user.id %>" data-skill="<%= s %>" data-alumni="<%= @alumni.id %>" data-remote="true" method="post" action="create">
            <%= Skill.find_by(id: s).name %>
            <span class="glyphicon glyphicon-arrow-up upvotable" aria-hidden="true"></span>
            <span class="badge" id="<%= "skill#{s}" %>"><%= endorsements_count %></span>
          </button>
      <% end  %>
    </div>
    <% end %>

  </div>
  <div class='col-md-5'>
    <div class='profile-info'>
      <% if @alumni.about != "" %>
        <p><strong class="text-uppercase">About <%= @alumni.user.first_name %></strong><br/>
          <%= @alumni.about %>
        </p>
      <% end %>
      <% if @alumni.q1 != "" %>
        <p><strong class="text-uppercase">"What are your greatest strengths?"</strong><br/>
          <%= @alumni.q1 %>
        </p>
      <% end %>
      <% if @alumni.q2 != "" %>
        <p><strong class="text-uppercase">"Have you read any good books lately?"</strong><br/>
          <%= @alumni.q2 %>
        </p>
      <% end %>
      <% if @alumni.q3 != "" %>
        <p><strong class="text-uppercase">"Can you do a handstand?"</strong><br/>
          <%= @alumni.q3 %>
        </p>
      <% end %>
      <% if @alumni.fun_fact != "" %>
        <p><strong class="text-uppercase">Fun Fact</strong><br/>
          <%= @alumni.fun_fact %>
        </p>
      <% end %>
    </div>
  </div>
</div>
<p class="text-right"><%= @alumni.user.first_name %>'s page has been viewed <%= @alumni.view %> times.</p>



  <div class="project-name" data-toggle="modal" data-target="#myModal-<%=p.id%>">
    <h2 ><%= p.name %></h2>
    <a href="<%=p.url%>" target="_blank"><%=p.url%></a>


  <div style="float:right;" class="imageContainer" data-toggle="modal" data-target="#myModal-<%=@alumni.id%>">
    <strong><%= Resume %></strong><br>
      <img src="<%=@alumni.resume.url%>" width="231" height="300">
  </div>
  <div class="modal fade" id="myModal-<%=@alumni.id%>">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div><!-- /.modal-header -->
        <div class="modal-body" width="300px">
          <img src="<%=@alumni.resume.url%>" width="100%">
        </div><!-- /.modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<!-- iFrame for the projects. -->

<% @alumni.projects.take(4).each do |p| %>

          <div class="modal-body">
            <iframe class="wrap" width="100%" height="700" style="visibility:visible" frameborder="1" src="<%= p.url %>"></iframe>
          </div><!-- /.modal-body -->


<% end %>

</div>
