<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @alumni.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alumni.location %>
</p>

<p>
  <strong>About:</strong>
  <%= @alumni.about %>
</p>

<p>
  <strong>Q1:</strong>
  <%= @alumni.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @alumni.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @alumni.q3 %>
</p>

<p>
  <strong>Position:</strong>
  <%= @alumni.position %>
</p>

<p>
  <strong>View:</strong>
  <%= @alumni.view %>
</p>

<p>
  <strong>Fun fact:</strong>
  <%= @alumni.fun_fact %>
</p>

<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
