<div class="container">

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-7">
    <div class="title-box clearfix">
      <% if @alumni.avatar.url %>
        <img src="<%= @alumni.avatar.url %>" class="avatar" />
      <% else %>
        <img src="/default-avatar/colors.jpg" class="avatar" />
      <% end %>

      <div class="col-info">
        <h1 class="title"><%= @alumni.user.first_name %> <%= @alumni.user.last_name %></h1>
        <h3><%= @alumni.position %></h3>
        <h4><%= "#{@alumni.location.city}, #{@alumni.location.state}" %></h4>

        <% if current_user.id == @alumni.user_id %>
          <%= link_to 'Edit', edit_alumni_path(@alumni), class: 'btn btn-default btn-sm' %>
        <% end %>

      </div>
    </div>
    <% if @alumni.skills %>
    <div class='clearfix'>
      <h4>Skills</h4>
      <% @alumni.skills.each do |s| %>
        <button class="btn btn-primary btn-xs skill" type="button">
          <%= s.name %>
          <span class="badge"><%= Endorsement.count{ |e| e.skill_id == s.id && e.alumni_id == @alumni.id } %></span>
        </button>
      <% end  %>
    </div>
    <% end %>

  </div>
  <div class='col-md-5'>
    <div class='profile-info'>
      <p><strong class="text-uppercase">About <%= @alumni.user.first_name %></strong><br/>
        <%= @alumni.about %>
      </p>
      <p><strong class="text-uppercase">"What are your greatest strengths?"</strong><br/>
        <%= @alumni.q1 %>
      </p>
      <p><strong class="text-uppercase">"Have you read any good books lately?"</strong><br/>
        <%= @alumni.q2 %>
      </p>
      <p><strong class="text-uppercase">"Can you do a handstand?"</strong><br/>
        <%= @alumni.q3 %>
      </p>
      <p><strong class="text-uppercase">Fun Fact</strong><br/>
        <%= @alumni.fun_fact %>
      </p>
    </div>
  </div>
</div>
<p class="text-right"><%= @alumni.user.first_name %>'s page has been viewed <%= @alumni.view %> times.</p>

<% @alumni.projects.take(4).each do |p| %>

  <div data-toggle="modal" data-target="#myModal-<%=p.id%>">
    <strong><%= p.name %></strong><br>
    <a href="<%=p.url%>" target="_blank">Go to project</a>
  
    <iframe width="100%" height="400"src="<%=p.url%>" style="transform: scale(1);"></iframe>
    <p><%= p.description %></p>
  </div>
  <div class="modal fade" id="myModal-<%=p.id%>">
    <div class="modal-dialog modal-lg">
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"> "<%= p.name %>"</h4>
        </div><!-- /.modal-header -->
        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% end %>
</div>
