<p id="notice"><%= notice %></p>

<%= image_tag @alumni.avatar %>

<p>
  <strong>Name:</strong>
  <%= @alumni.user.first_name %> <%= @alumni.user.last_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alumni.location.city %>, <%= @alumni.location.state %>
</p>

<p>
  <strong>About:</strong>
  <%= @alumni.about %>
</p>

<p>
  <strong>What are your greatest strengths?</strong>
  <%= @alumni.q1 %>
</p>

<p>
  <strong>Have you read any good books lately?</strong>
  <%= @alumni.q2 %>
</p>

<p>
  <strong>Can you do a headstand?</strong>
  <%= @alumni.q3 %>
</p>

<p>
  <strong>Position:</strong>
  <%= @alumni.position %>
</p>

<p>
  <strong>Skills:</strong>
  <% @alumni.endorsements.map do |e| %>
    <% if e.user == @alumni.user %>
      <%= e.skill.name %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Fun fact:</strong>
  <%= @alumni.fun_fact %>
</p>

<div data-toggle="modal" data-target="#myModal">
  <strong>View Project 1 - Résumé</strong><br>
  <img src="https://debbarrett.com/wp-content/uploads/2013/10/homestyler.jpg"  width="20%" height="20%">
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= "Esther's Résumé"%></h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <iframe name="I1" id="if1" width="100%" height="500" style="visibility:visible" src="http://www.homestyler.com/"></iframe>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
        <a class="iframe" href="https://robots.io">OR VISIT MY PROJECT</a>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<br/>
<%= link_to 'Edit', edit_alumni_path(@alumni), class: 'btn btn-success' %>
<%= link_to 'Back', users_path, class: 'btn btn-success' %>
