<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @alumni.user_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alumni.location.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @alumni.about %>
</p>

<p>
  <strong>What are your greatest strengths?</strong>
  <%= @alumni.q1 %>
</p>

<p>
  <strong>Have you read any good books lately?</strong>
  <%= @alumni.q2 %>
</p>

<p>
  <strong>Can you do a headstand?</strong>
  <%= @alumni.q3 %>
</p>

<p>
  <strong>Position:</strong>
  <%= @alumni.position %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @alumni.endorsements.each do |e| %>
    <% if e.user_id == @alumni.user.id %>
      <%= e.skill.name %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Fun fact:</strong>
  <%= @alumni.fun_fact %>
</p>

<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
  View Résumé
</button>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= "Esther's Résumé"%></h4>
      </div><!-- /.modal-header -->
      <div class="modal-body">
        <iframe name="I1" id="if1" width="100%" height="700" style="visibility:visible" src="@project.url"></iframe>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-sm">Save changes</button>
        <a class="iframe" href="https://robots.io">OR VISIT MY PROJECT</a>
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
