<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @alumni.user_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @alumni.location.city %>
</p>

<p>
  <strong>About:</strong>
  <%= @alumni.about %>
</p>

<p>
  <strong>What are your greatest strengths?</strong>
  <%= @alumni.q1 %>
</p>

<p>
  <strong>Have you read any good books lately?</strong>
  <%= @alumni.q2 %>
</p>

<p>
  <strong>Can you do a headstand?</strong>
  <%= @alumni.q3 %>
</p>

<p>
  <strong>Position:</strong>
  <%= @alumni.position %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @alumni.endorsements.each do |e| %>
    <%= e.skill.name %>
  <% end %>
</p>

<p>
  <strong>Fun fact:</strong>
  <%= @alumni.fun_fact %>
</p>



<%= link_to 'Edit', edit_alumni_path(@alumni) %> |
<%= link_to 'Back', alumnis_path %>
