<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'type.jpg', :id => 'mainpageimage'%>
      <div class="carousel-caption">

        <h1 class='panel1'>BlinkedIn.</h1>

      </div>
    </div>
    <div class="item">
      <%= image_tag 'cat.jpg', :id => 'secondpageimage' %>
      <div class="carousel-caption">
        <h2 class='panel2'>Get hired in the blink of an eye.</h2>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'chart.jpg', :id => 'lastpageimage' %>
      <div class="carousel-caption">
        <h2 class='panel3'>Only the best starts here.</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class ='container'>
  <p id="notice"><%= notice %></p>
<h3>Some of our wonderful users:</h3>
<ul>
  <% @users.each do |user| %>
    <% if @alumnis.any?{|a| a.user_id == user.id} %>
      <% alumni = Alumni.find_by(user_id: user.id)%>
      <li><%= link_to "#{user.first_name} #{user.last_name} (Alum)", alumni_path(alumni.id) %></li>
    <% elsif @employers.any?{|a| a.user_id == user.id} %>
      <% employer = Employer.find_by(user_id: user.id)%>
      <li><%= link_to "#{user.first_name} #{user.last_name} (Employer)", employer_path(employer.id) %></li>
    <% end %>
  <% end %>
</ul>


<h1>Awesomeness of our Group</h1>
 <canvas id="myChart" width="500" height="400"></canvas>

 <canvas id="myBarChart" width="500" height="400"></canvas>
</div>
