<div class="container">
<h1>Editing <%= @employer.user.first_name %> <%= @employer.user.last_name %></h1>


<%= render 'form' %>
</div>
<%= link_to 'Show', @employer %> |
<%= link_to 'Back', users_path %>
