<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @employer.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @employer.user %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @employer.company_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @employer.website %>
</p>

<p>
  <strong>Company type:</strong>
  <%= @employer.company_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employer.description %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
