<!DOCTYPE html>
<html>
<head>
  <title>BlinkedIn</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<<<<<<< HEAD
=======
    <script type="text/javascript" src="http://fancybox.net/js/fancybox/jquery.fancybox-1.3.1.pack.js">
    </script>
    <link rel="stylesheet" type="text/css" href="http://fancybox.net/js/fancybox/jquery.fancybox-1.3.1.css" media="screen" />
    <script>
       	$(document).ready(function() {
>>>>>>> 6d026fdfea93ac0221679e0cddd3e085f4242b1b




</head>
<body>

  <%= react_component "MainDiv", user:current_user %>
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>
